version: '3.8'

services:
  # 1. AUTH SERVICE
  auth-service:
    build: ./auth-service
    container_name: uptime-auth
    restart: always
    ports:
      - "${AUTH_PORT}:5001"
    environment:
      - PORT=5001
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - JWT_SECRET=${JWT_SECRET}  # <-- Mengambil dari .env

  # 2. BACKEND SERVICE
  backend:
    build: ./backend
    container_name: uptime-backend
    restart: always
    ports:
      - "${BACKEND_PORT}:5000"
    # Kita bisa menghapus 'env_file' backend/.env karena sekarang semua di-inject dari root .env
    environment:
      - PORT=5000
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - JWT_SECRET=${JWT_SECRET}  # <-- Mengambil dari .env

  # 3. NOTIFICATION SERVICE
  notification-service:
    build: ./notification-service
    container_name: uptime-notification
    restart: always
    ports:
      - "5002:5002"
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN} # <-- Mengambil dari .env (Aman)
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}     # <-- Mengambil dari .env (Aman)
    depends_on:
      - backend

  # 4. FRONTEND SERVICE
  frontend:
    build: ./frontend
    container_name: uptime-frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend
      - auth-service