version: '3.8'

services:
  backend:
    build: ./backend
    container_name: uptime-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env 

  frontend:
    build: ./frontend
    container_name: uptime-frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend